@import url('../Oswald/Oswald/Oswald-VariableFont_wght.ttf');
html,body {
    padding: 0;
    margin: 0;
   
}
.m-contact {
    background-color: rgb(6 5 47 / 98%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
    height: 30px;
    padding-right: 5px;
}

.m-contact__number {
    width: 80%;
    max-width: 894px;
    display: flex;
    justify-content: flex-end;
}

.m-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 894px;
    margin: auto;
    align-items: center;
}

.m-navBar__list {
    display: flex;
    justify-content: space-around;
}

.m-navBar__item {
    list-style: none;
    margin: 5px;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.m-slider {
    background-color: rgb(6 5 47 / 98%);
    height: 290px;
    width: 100%;
}

.m-slider__thumb {
    max-width: 894px;
    width: 80%;
    margin: auto;
    height: 290px;
}

.m-description {
    max-width: 894px;
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
}

.m-description__h1 {
    font-size: 1.5em;
    font-weight: bold;  
}

.m-description__item {
    font-size: 0.8em;
    font-weight: 300;
    list-style: none;
    margin-bottom:5px ; 
}

.m-description__span {
    font-size: 1em;
    font-weight: bold;
}
.m-description__image {
    width: 325px;
    height: 212px;
    border-radius: 10px;
}

.m-boxes {
    max-width: 894px;
    width: 80%;
    margin: auto;
    font-family: 'Oswald', sans-serif;
}

.m-boxe__title {
    font-weight: bold;  
}

.m-boxe__images {
    display: flex;
    justify-content: space-between;
}

.m-boxe__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5e961;
    border-radius: 10px;
    color: #040342;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
   
}

.m-boxes__image {
    width: 196px;
    height: 163px;
    border-radius: 10px 10px 0px 0;
}

.m-boxe__paragraph{
    font-size: 1.1em;
    font-weight: bolder;
    background-color: #090c67a3;
    margin-top: -20px;
    width: 100%;
    color: white;
    text-align: center;
  
}

.m-boxe__btn {
    text-decoration: none;
    background-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    color: white;
    margin-bottom: 15px;
    box-shadow: 4px 5px 3px 0px #777373;
   
}

.m-footer {
    background-color: rgb(6 5 47 / 98%);
    width: 100%;
    margin: auto;
    height: 100px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: white;
}

.m-footer__nav {
    max-width: 894px;
    width: 80%;
    margin: auto;
}

.m-footer__list {
    display: flex;
    justify-content: center;
}

.m-footer__item {
    list-style: none;
    margin: 10px ;
}



