html,body {
    padding: 0;
    margin: 0;
}
.c-contact {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
    height: 30px;
    padding-right: 5px;
}

.c-contact__number {
    width: 80%;
    max-width: 894px;
    display: flex;
    justify-content: flex-end;
}

.c-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 894px;
    margin: auto;
    align-items: center;
}

.c-navBar__list {
    display: flex;
    justify-content: space-around;
}

.c-navBar__item {
    list-style: none;
    margin: 5px;
}

.c-slider {
    background-color: rgb(153, 153, 153);
    height: 290px;
    width: 100%;
}

.c-slider__thumb {
    max-width: 894px;
    width: 80%;
    margin: auto;
    height: 290px;
}
